.radio_off{margin:0;padding:0;width:18px;height:18px; background:url(../radio.gif) no-repeat 0 0; display:inline-block;}
.radio_on{margin:0;padding:0;width:18px;height:18px; background:url(../radio.gif) no-repeat 0 -18px; display:inline-block;}

