/*先按照px写，然后再调整*/
body{font-size:14px;}
.wrap{width:100%;/*width:1080px;*/height:1920px;margin:0 auto;/*background:-webkit-linear-gradient(top,#fefefe,#ededed);border:1px solid #000;*/}
.index{background:-webkit-linear-gradient(top,#fefefe,#ededed);}
.wrap .logo{width:67.6%;height:10.7%;/*width:730px;height:321px;*/margin:0 auto;}
.wrap .logo a{display:block;width:100%;height:100%;/*width:730px;height:321px;margin:0 auto;*/background:url(../images/logo.png) no-repeat;background-size:100% 100%;font-size:0;}
.logo_sense{width:41.39%;height:45.36%;margin:80px auto;/*text-align:center;*/}
.logo_sense .sense{width:100%;height:100%;background:url(../images/welcome.png) no-repeat;background-size:100% 100%;}
.wrap .btns{/*width:89%;*//*width:960px;margin:0 auto;*/padding-bottom:100px;text-align:center;}
.wrap .btns p{margin-bottom:53px;text-align:center;}
.wrap .btns .tolook{position:relative;font-size:2.571em;/*font-size:36px;*/color:#005eac;}
.wrap .btns .arrow{position:absolute;top:0;left:540px;width:0;height:0;border:20px solid;border-color:transparent  transparent transparent #005eac;}
.wrap .btns .register,.wrap .btns .login{display:inline-block;padding:34px 100px;/*width:455px;height:110px;*//*line-height:110px;*/margin-right:50px;background:#0099cc;color:#fff;text-align:center;font-size:3em;/*font-size:42px;*/font-family:"微软雅黑";font-weight:normal;border-bottom:4px solid #0b7da7;}
.wrap .btns .login{margin-right:0;}
.wrap .btns .clicked{background:#898989;border-color:#595757;}
.wrap .btns .unclicked{background:#b5b5b6;border-color:#898989;}
/*.wrap .btns .logined{background:#b5b5b6;}*/

.wrap .register_form{position:relative;display:none;overflow:hidden;height:0%;padding:55px 60px 140px;background:#fff;-webkie-box-shadow:3px 0 20px rgba(0,0,0,.3);box-shadow:3px 0 20px rgba(0,0,0,.3);}
.wrap .register_form .reg_arrow1{position:absolute;top:-36px;left:250px;width:70px;height:70px;background:#fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:3px 0 10px rgba(0,0,0,.3);-webkit-box-shadow:3px 0 10px rgba(0,0,0,.3);}
.wrap .register_form .reg_cover{position:absolute;top:0px;left:230px;width:120px;height:55px;background:#fff;}

.wrap .register_form .frm{width:89%;/*width:960px;*/margin:0 auto;border:1px solid #b5b5b6;}
.wrap .register_form input[type=text],.wrap .register_form input[type=password]{/*width:89%;*//*width:960px;*//*height:107px;*/border-bottom:1px solid #b5b5b6;color:#898989;font-size:3.93em;/*font-size:55px;*/}
.wrap .register_form .error{position:relative;height:80px;line-height:80px;padding-left:15px;background:#f7f8f8;font-size:2.571em;/*font-size:36px;*/color:#ec6d65;}
.wrap .register_form .error:before{content:'';position:absolute;top:-40px;left:60px;width: 0;height: 0;border: 20px solid;border-color: transparent transparent #b5b5b6 transparent;}
.wrap .register_form .error:after{content:'';position:absolute;top:-38px;left:60px;width: 0;height: 0;border: 20px solid;border-color: transparent transparent #f7f8f8 transparent;}
.wrap .register_form .registerBtn{display:block;height:80px;padding-top:27px;margin-top:30px;background:#0099cc;border-bottom:4px solid #0b7da7;text-align:center;font:3em '微软雅黑';/*font:42px '微软雅黑';*/color:#fff;}
.wrap .register_form .weibo{background:#ea5413;border-bottom-color:#a63900;}
.wrap .register_form .weibo em{display:inline-block;width:80px;height:69px;margin-right:15px;background:url(../images/weibo.png) no-repeat;}
.wrap .register_form .about_password{overflow:hidden;border:none;}
.wrap .register_form .about_password .ui-checkbox{float:left;color:#595757;}
.wrap .register_form .about_password .ui-checkbox label{font-size:1.714em;/*font-size:24px;*/}
.wrap .register_form .about_password a{float:right;color:#595757;font-size:24px;}
.index .spacing{height:0;margin-top:30px;border:1px solid #d6d7d7;}
#resgeter,#login{display: none}
/*first page*/
.header{overflow:hidden;width:100%;/*width:1080px;*/height:225px;background:#f7f7f7;border-top:60px solid #000;border-bottom:1px solid #d7d7d7;font-family:"微软雅黑";}
.first a{float:right;width:273px;height:225px;line-height:225px;margin-right:-1px;color:#646464;font-size:43px;font-weight:normal;border-right:1px solid #d7d7d7;letter-spacing:15px;text-align:center;}
/*.first a:nth-child(3){width:270px;}*/
.header h1{float:left;padding-left:32px;}
.header h1 a{display:block;/*width:500px;*/height:225px;background:url(../images/first_logo.png) no-repeat left center;font-size:0;}
 
.main{background:#fff;font-family:'微软雅黑';}
.main h2{padding:72px 0;color:#595959;font-size:3.714em;/*font-size:52px;*/font-weight:normal;text-align:center;}
.main h2 i{font-style:normal;color:#e84c3d;}
.main .famous_persons{overflow:hidden;width:966px;margin:0 auto;}
.main .famous_persons li{float:left;}
.main .famous_persons li img{display:block;width:483px;height:410px;}
.main .famous_persons li div{height:84px;padding:10px 0 0 20px;background:url(../images/brand.png) no-repeat#f4f4f4;border-top:6px solid;border-right:1px solid #cdcdcd;}
.main .famous_persons li div p{font-size:1.071em;/*font-size:15px;*/color:#555;}
.main .famous_persons li div .name{font-size:1.4285em;/*font-size:20px;*/}
.main .famous_persons li:nth-child(1) div{background-position:330px 20px;border-top-color:#ec7064;}
.main .famous_persons li:nth-child(2) div{background-position:330px -46px;border-top-color:#5dade2;}
.main .famous_persons li:nth-child(3) div{background-position:330px -110px;border-top-color:#ec7064;}
.main .famous_persons li:nth-child(4) div{background-position:330px 20px;border-top-color:#5dade2;}
.main .famous_persons li div:nth-child(1){background:url(../images/brand.png) no-repeat 330px 20px;}
.main .famouse_companies{overflow:hidden;width:991px;height:130px;margin:90px auto 0;}
.main .famouse_companies li{display:inline;float:left;width:178px;height:125px;margin-left:15px;background:url(../images/brands.png) no-repeat;border:1px solid #e4e6e7;font-size:0;}
.main .famouse_companies li:nth-child(1){background-position:0 0;}
.main .famouse_companies li:nth-child(2){background-position:-180px 0;}
.main .famouse_companies li:nth-child(3){background-position:-360px 0;}
.main .famouse_companies li:nth-child(4){background-position:-540px 0;}
.main .famouse_companies li:nth-child(5){background-position:-720px 0;}


.main .join_persons{position:relative;padding-bottom:80px;min-height:850px;}
.main .join_persons li{float:left;position:absolute;padding:20px;background:#f5f5f5;color:#747474;font-size:14px;}
.main .join_persons li:after{content:'';position:absolute;bottom:-37px;right:80px;overflow:hidden;width:0;height:0;font-size: 0;line-height: 0;border-color:#f5f5f5 #fff  #fff;border-style:solid;border-width:40px 20px 0 40px;}
.main .join_persons li .person{overflow:hidden;margin-bottom:15px;}
.main .join_persons li img{float:left;margin-right:15px;width:136px;height:136px;border-radius:68px;}
.main .join_persons li .pinfo{float:left;margin-top:15px;color:#636363;line-height:1.8;}
.main .join_persons li .pinfo .name{font-size:16px;color:#212121;}
.main .join_persons li:nth-child(1){top:0;left:70px;width:36.875%;/*width:354px;*/}
.main .join_persons li:nth-child(2){top:68px;left:490px;width:51.04%;/*width:490px;*/}
.main .join_persons li:nth-child(3){top:390px;left:70px;width:36.875%;/*width:354px;*/}
.main .join_persons li:nth-child(4){top:505px;left:490px;width:51.04%;/*width:490px;*/}

.footer{padding:60px 30px 80px 30px;background:#fff;border-top:1px solid #dcdbdb;}
.footer .lite_shop{margin-bottom:80px;}
.footer .lite_shop a{display:inline-block;}
.footer .lite_shop a:nth-child(1){width:387px;height:127px;margin-right:120px;}
.footer .lite_shop a:nth-child(1) span{display:block;width:100%;height:100%;background:url(../images/app_store.png) no-repeat;background-size:100% 100%;font-size:0;}
.footer .lite_shop a:nth-child(2){width:392px;height:128px;}
.footer .lite_shop a:nth-child(2) span{display:block;width:100%;height:100%;background:url(../images/google.png) no-repeat;background-size:100% 100%;font-size:0;}
.footer p{overflow:hidden;margin-bottom:35px;}
.footer p a{float:left;width:181px;margin-right:20px;color:#595959;font:2.143em '微软雅黑';/*font:30px '微软雅黑';*/}



/*step2*/
.step .header{height:153px;}
.step .header h1{position:relative;float:none;height:150px;line-height:150px;color:#363636;font-size:55px;text-align:center;}
.step .header h1:before{position:absolute;top:45px;left:60px;content:'';border-width:30px;border-style:solid;border-color:transparent #e84c3d transparent transparent;}
.step .header h1:after{position:absolute;top:45px;left:66px;content:'';border-width:30px;border-style:solid;border-color:transparent #f7f7f7 transparent transparent;}
.step .main{padding-bottom:210px;}
.step .main h2{height:170px;padding-top:60px;line-height:2.0;color:#787878;font-size:42px;border-bottom:1px solid #e7e7e7;}
/*.step .main form{width:910px;margin:80px auto 0;}*/
.step .main form .frm{width:910px;margin:80px auto 90px;}
.step .main form .frm p{clear:both;margin-bottom:36px;color:#3c3c3c;font-size:46px;}
.step .main form .frm select,.step .main form .frm input{width:906px;height:140px;padding:0 0.7em;background:#f3f3f3;border:1px solid #b8b8b8;color:#7d7d7d;font:44px '微软雅黑';}
.step .main form .frm .btn{display:block;width:908px;height:162px;line-height:162px;background:#e84c3d;color:#fff;font-size:70px;font-weight:normal;text-align:center;}


/*step namecard*/
.namecard{width:1080px;/*height:599px;*/padding:50px 0;background:#f3f3f3;border-top:1px solid #dedede;border-bottom:1px solid #dedede;}
.step .main form .namecard .frm{width:958px;margin:52px auto 0;}
.step .main form .namecard .frm input{width:958px;margin-bottom:-1px;background:#fff;}
/*.step .main form .namecard .frm input:nth-of-type(1){margin-bottom:-1px;}*/
.step .main form .namecard .infor{width:660px;padding-left:353px;background:url(../images/namecard.png) no-repeat 60px 18px;}
.step .main form .namecard .infor p{color:#343434;font-size:58px;}
.step .main form .namecard .infor input{margin-bottom:-1px;}
.step .main form .namecard div{margin:0;}
.ui-input-text, .ui-input-search{margin:0;border:none;}
.step .main form .namecard .infor input{width:630px;height:120px;padding:0 0.7em;background:#fff;border:1px solid #d3d3d3;color:#7d7d7d;font:37px '微软雅黑';}
.step .main form .ncard,.step .main form .ncard .btn{width:958px;}
.step .main form .job{overflow:hidden;width:958px;}
.step .main form .job input{width:892px;height:121px;border-radius:8px;}
.step .main form .job input:nth-of-type(1){margin-bottom:65px;}
.step .main form .job .end{float:left;width:580px;}
.step .main form .job .now{float:right;width:258px;height:120px;line-height:120px;background:#3598db;border-radius:8px;font-size:48px;color:#fff;text-align:center;}
.step .main form .job .bynow{background:#bec3c7;}


/*step3*/
.step .header h2{position:relative;line-height:150px;font-size:55px;font-weight:normal;color:#363636;text-align:center;}
.step .header h2 .skip{position:absolute;top:0;right:60px;font-size:40px;color:#797979;/*text-align:right;*/}
.step .main .invite_friend{height:338px;background:#f3f3f3 url(../images/invite_friend.png) no-repeat center center;border-bottom:1px solid #e7e7e7;}
.step .main form .email{width:958px;margin-top:54px;}
.step .main form .email input{width:958px;height:124px;margin-bottom:-1px;background:#fff;}



/*step4*/
/*.step .main ul{padding:40px 0;}*/
.step .main li{padding:40px 57px;height:182px;border-bottom:1px solid #e5e5e5;}
.step .main li img{float:left;width:176px;height:176px;margin-right:40px;}
.step .main li .info{float:left;color:#7d7d7d;font-size:36px;}
.step .main li .info p:nth-of-type(1){color:#343434;font-size:42px;}
.step .main li .add_friend{float:right;width:227px;height:82px;margin-top:40px;line-height:72px;color:#3598db;font-size:36px;border:3px solid #3598db;text-align:center;}
.step .main li .add_friend em{margin-right:20px;font-size:80px;vertical-align:-13px;}