/*header*/
.headerWrap{height:81px;background:#27a695;}
.header{width:1170px;margin:0 auto;}
.header h1{float:left;width:170px;}

.logo{overflow:hidden;display:block;width:165px;height:81px;background:url(../images/logo.png) no-repeat;font-size:0;line-height:0;}
em{display:inline-block;width:35px;height:30px;background:url(../images/nw_icon.png) no-repeat;}


.header .search{display:inline;float:left;width:350px;margin-top:15px;margin-left:30px;}
.header .searchBox{float:left;width:235px;height:30px;margin-right:10px;}
.header .searchBox input{float:left;width:235px;height:30px;border:none;}
.searchBtn{display:inline;float:left;/*width:35px;height:30px;*/margin-left:-35px;/*background:url(../images/nw_icon.png) no-repeat;*/}
.searchBtn em{background-position:0 0;}

.cities{position:relative;float:left;width:90px;}
.cities p{width:90px;height:30px;line-height:30px;background:#fff;color:#464c52;font-size:15px;}
.cities p span{float:left;padding-left:5px;}
.cities .cityBtn{/*display:inline;*/float:right;/*width:35px;height:30px;*//*margin-left:-35px;*/}
.cities .cityBtn em{background-position:-35px 0;}
.cities ul{position:absolute;top:30px;left:0;display:none;border:1px solid #000;}
.cities ul li{width:90px;height:20px;line-height:20px;background:#fff;border-bottom:1px solid #000;text-align:center;color:#464c52;}

.history{float:left;width:350px;margin-top:8px;}
.history a{font:13px '微软雅黑';color:#fff;}

.header .nav{float:left;width:580px;}
.header .nav li{float:left;}
.header .nav li a{display:block;width:90px;height:54px;padding-top:27px;text-align:center;font:15px '微软雅黑';color:#fff;}
.header .nav li a:hover{background:#46515c;}


/*footer*/
.footerWrap{height:165px;background:#464c52;}
.footer{width:1170px;margin:0 auto;padding-top:24px;color:#fff;}
.footer a{color:#fff;font:15px '微软雅黑';}
.footer h4{margin-bottom:15px;font:15px '微软雅黑';}
.ftLogo,.about,.contact,.coWorker,.friendLink{float:left;width:230px;margin-right:30px;}
.ftLogo{width:165px;}
.ftLogo .logo{height:65px;margin-bottom:15px;background-position:0 -81px;font-size:0;line-height:0;}
.ftLogo p{font:13px '微软雅黑';}
.about,.contact,.coWorker.friendLink{font:15px '微软雅黑';}
.about .more{text-align:right;}
.contact{width:200px;line-height:1.8;}
.coWorker{width:150px;}
.friendLink a{margin-right:10px;}
.coWorker a{display:block;height:27px;background:url(../images/cow_logo.png) no-repeat;}
.coWorker .first{background-position:0 -27px;}

/*main*/
.mainWrap{background:#e1f3f1;}
.main{overflow:hidden;zoom:1;width:1170px;margin:0 auto;padding-top:40px;}
.main .ml{float:left;width:165px;}
.main .mr{float:right;width:230px;}
.sub_nav{margin-top:30px;}
.sub_nav li{margin-bottom:15px;}
.sub_nav li a{display:block;height:58px;padding-left:80px;background:url(../images/brand.png) no-repeat;font:15px '微软雅黑';color:#464c52;}
.sub_nav .baidu{background-position:0 0;}
.sub_nav .baiduyun{background-position:0 -62px;}
.sub_nav .huaban{background-position:0 -122px;}
.sub_nav .oneshop{background-position:0 -182px;}
.sub_nav .jd{background-position:0 -242px;}
.sub_nav .sina{background-position:0 -302px;}
.sub_nav li a span{float:left;margin-top:20px;}


/*mr*/
.login_box ul{background:#fff;padding:15px 0;}
.login_box li .txt{width:180px;height:33px;padding:4px 0 0 7px;border:1px solid #a0a0a0;font-size:15px;font-family:'微软雅黑';}
.login_box li .frm{width:190px;margin:0 auto 12px;}
.login_box .input_req{position:relative;}
.login_box .input_req span{position:absolute;top:7px;left:28px;color:#8f8f8f;font-size:15px;font-family:'微软雅黑';}
.login_box .input_req em{position:absolute;top:7px;right:22px;}
.login_box li .mail{border-color:#16a085;}
.input_req .email{background-position:0 -30px;}
.input_req .pwd{background-position:-35px -30px;}
.login_box li .rad{margin-right:5px;*margin-right:1px;vertical-align:-2px;*vertical-align:middle;}
.login_box li .deal{color:#464c52;}
.login_box li .loginBtn{display:block;width:230px;height:45px;line-height:45px;margin-bottom:20px;background:#46515c;text-align:center;color:#fff;font-size:17px;font-family:'微软雅黑';}
.login_box li .registerBtn{display:block;width:187px;height:38px;line-height:38px;background:#1abc9c;border-bottom:3px solid #0d9e81;border-radius:5px;text-align:center;color:#fff;font-size:17px;font-family:'微软雅黑';}
.login_box li .thirdPtyBtn{display:block;width:230px;height:40px;line-height:30px;margin-bottom:5px;background:#f8f8f8;color:#464c52;text-align:center;font-size:15px;font-family:'微软雅黑';}
.login_box li .thirdPtyBtn em{margin-right:20px;margin-top:5px;}
.login_box li .weibo em{background-position:0 -60px;}
.login_box li .qq em{background-position:-38px -60px;}
.login_box li .jobs em{background-position:-74px -60px;}
/*mr help*/
.mr .help{overflow:hidden;zoom:1;margin:20px 0;padding:15px;background:#fff;}
.mr .help ul{float:left;width:125px;line-height:2.0;}
.mr .help li a{color:#46515c;font:15px '微软雅黑';}
.mr .help .more a:hover{text-decoration:underline;}
.mr .help li .first{color:#27a695;}
.mr .help .attention{float:left;width:65px;}
.help .attention .logo{width:65px;height:56px;margin-bottom:15px;background-position:0 -150px;}
.help .attention .focusOn{overflow:hidden;display:block;width:65px;height:22px;background:url(../images/logo.png) no-repeat -85px -171px;font-size:0;line-height:0;}

